<div class="container">
    <br>
    <h1>Generative Art with javascript and P5.js</h1>
    <p>click show on a preset to see and edit it</p>


    <p id="notice"><%= notice %></p>

    <h1>Your Presets</h1>

    <%= render 'index', presets: @presets %>

    <%= link_to 'New Preset', new_preset_path %>

</div>